name: Triggers

on:
  push:
    branches:
      - '!internal/**'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Build
        run: |
          printenv | sort

